@model PhotoCreateViewModel

@{
    ViewBag.Title = "Create New Photo";
}

<div id="createPhoto">
    <h2>Create New Photo</h2>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <table>
            <tr>
                <td></td>
                <td>
                    <div>
                        <label for="Name">Photo Name</label>

                        <input type="text" name="Name" id="Name">
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><label for="FileName">File Name</label></td>
            </tr>
            <tr>
                <td style="padding-right:10px;">
                    <div>
                        @Model.PendingPhotoPath
                    </div>
                </td>
                <td>
                    <div><input type="text" name="FileName" id="FileName" /> .jpg</div> 
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        <label for="Tags">Tags <span style="font-size:14px;margin-left:40px;">Separate multiple tags with a comma (,).</span></label> 

                        <textarea name="Tags" id="Tags">@Model.LastTagsInput</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        <label for="IsPrivate">Private</label>
                        <input type="checkbox" name="IsPrivate" id="IsPrivate"> 
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <p>
                        <input type="submit" value="Create" /> |
                        <a href="@Url.PhotoIndex()">Cancel</a>
                    </p>

                    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
                    {
                        <div style="color:red;">@Model.ErrorMessage</div>
                    }
                </td>
            </tr>
        </table>
    }
</div>

@section Script {
    <script type="text/javascript">
        $(function () {
            $('textarea').focus(function () {
                var $this = $(this);
                $this.select().mouseup(function () {
                    $this.off('mouseup');
                    return false;
                });
            }).keyup(function (e) {
                if (e.which === 9) {
                    this.select();
                }
            });
        });
    </script>
}
