@model PhotoDetailsViewModel

@{
    ViewBag.Title = "Photo Details";
}

<div id="photoDetails">
    <header>
        <h1>@Model.Photo.Name</h1>
    </header>

    <div class="row photo-details-slider">
        @if (Model.PreviousPhoto != null)
        {
            <div class="prev-arrow col-xs-2 col-sm-1">
                <a href="@Url.PhotoDetails(Model.PreviousPhoto, Model.SearchResultTag, Model.SearchResultTag2)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        }

        <div class="photo col-xs-8 col-sm-10">
            @Html.LargePhoto(Model.Photo, Model.PhotoTags)
        </div>

        @if (Model.NextPhoto != null)
        {
            <div class="next-arrow col-xs-2 col-sm-1">
                <a href="@Url.PhotoDetails(Model.NextPhoto, Model.SearchResultTag, Model.SearchResultTag2)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        }
    </div>

    <div>
        @{ Html.RenderPartial(MVC.Tags.Views._TagButtons, Model.PhotoTags); }
    </div>

    @if (Model.Questions.SafeAny())
    {
        <div>
            <h4>Questions</h4>
            <ul>
                @foreach (var question in Model.Questions)
                {
                    <li class="question">
                        @if (Model.ShowAdminLinks)
                        {
                            <div class="preserve-newline">@Html.ActionLink(@question.Text, MVC.Questions.QuestionDetails(question.ID))</div>
                        }
                        else
                        {
                            <div class="preserve-newline">@question.Text</div>
                        }
                        <div class="question-starter preserve-newline">@question.SentenceStarters</div>
                    </li>
                }
            </ul>
        </div>
    }

    @if (SecurityHelper.UserCanSeePrivateRecords(base.User))
    {
        <div>
            @if (Model.Photo.IsPrivate)
            {
                <span>Is Private: <strong>Yes</strong></span>
            }
            else
            {
                <span>Is Private: No</span>
            }
        </div>
    }

    <div id="download">
        Download this photo:
        <span class="download-link">
            <a href="@Url.PhotoDownloadUrl(Model.Photo, PhotoSizes.Small)" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span>Small
                <span class="file-size">(@Model.SmallFileSize)</span>
            </a>
        </span>
        <span class="download-link">
            <a href="@Url.PhotoDownloadUrl(Model.Photo, PhotoSizes.Large)" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span>Large
                <span class="file-size">(@Model.LargeFileSize)</span>
            </a>
        </span>
    </div>

    @if (Model.ShowAdminLinks)
    {
        <div>
            @Html.ActionLink("Create Question", MVC.Questions.QuestionCreate(Model.Photo.ID))
        </div>
        
        <div>
            @Html.ActionLink("Edit", MVC.Photos.PhotoEdit(Model.Photo.ID)) |
            @Html.ActionLink("Delete", MVC.Photos.PhotoDelete(Model.Photo.ID)) |
            @Html.ActionLink("Photo Index", MVC.Photos.PhotoIndex())
        </div>
    }
</div>
