@{
    ViewBag.Title = "Animals - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/AnimalsS.jpg")" class="img-responsive center-block" alt="Animals">
            <h3>Let's look at some animals!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("bird")"><img src="@Url.VersionedContent("~/img/birdsS.jpg")" class="img-responsive" alt="Birds"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("chick")"><img src="@Url.VersionedContent("~/img/chicksS.jpg")" class="img-responsive" alt="Chicks"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("dog")"><img src="@Url.VersionedContent("~/img/dogsS.jpg")" class="img-responsive" alt="Dogs"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("zoo animal")"><img src="@Url.VersionedContent("~/img/zooanimalsS.jpg")" class="img-responsive" alt="Zoo Animals"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("farm animal")"><img src="@Url.VersionedContent("~/img/farmanimalsS.jpg")" class="img-responsive" alt="Farm Animals"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("animal")"><img src="@Url.VersionedContent("~/img/allanimalsS.jpg")" class="img-responsive" alt="All Animals"></a>
        </div>

        <div class="col-sm-12">
            <img src="@Url.VersionedContent("~/img/animalssearch2S.jpg")" class="img-responsive center-block" alt="Search for more Animal pictures">
        </div>
    </div>
</div>
