@{
    ViewBag.Title = "Celebrations and Holidays - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/celebrationsandholidaysS.jpg")" class="img-responsive center-block" alt="Celebrations and Holidays">
            <h3 style="color:red;">This category takes time to fill. Check back for more photos!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("birthday")"><img src="@Url.VersionedContent("~/img/birthdayS.jpg")" class="img-responsive" alt="Birthday"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Easter")"><img src="@Url.VersionedContent("~/img/EasterS.jpg")" class="img-responsive" alt="Easter"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Graduation")"><img src="@Url.VersionedContent("~/img/GraduationS.jpg")" class="img-responsive" alt="Graduation"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Halloween")"><img src="@Url.VersionedContent("~/img/HalloweenS.jpg")" class="img-responsive" alt="Halloween"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Thanksgiving")"><img src="@Url.VersionedContent("~/img/ThanksgivingS.jpg")" class="img-responsive" alt="Thanksgiving"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Christmas")"><img src="@Url.VersionedContent("~/img/ChristmasS.jpg")" class="img-responsive" alt="Christmas"></a>
        </div>
    </div>
</div>
