@{
    ViewBag.Title = "Fall - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/FallS.jpg")" class="img-responsive center-block" alt="Fall">
            <h3>Pumpkins, apples, and more! </h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("apple orchard")"><img src="@Url.VersionedContent("~/img/appleorchardS.jpg")" class="img-responsive" alt="Apple Orchard"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("fall leaves")"><img src="@Url.VersionedContent("~/img/fallleavesS.jpg")" class="img-responsive" alt="Fall Leaves"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Halloween")"><img src="@Url.VersionedContent("~/img/HalloweenS.jpg")" class="img-responsive" alt="Halloween"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("canning")"><img src="@Url.VersionedContent("~/img/canningS.jpg")" class="img-responsive" alt="Canning"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("School")"><img src="@Url.VersionedContent("~/img/schoolS.jpg")" class="img-responsive" alt="School"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("fall")"><img src="@Url.VersionedContent("~/img/allfallS.jpg")" class="img-responsive" alt="All Things Fall"></a>
        </div>
    </div>
</div>
