@{
    ViewBag.Title = "Flowers - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/FlowersS.jpg")" class="img-responsive center-block" alt="Flowers">
            <h3>Flowers to brighten your day!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("red flowers")"><img src="@Url.VersionedContent("~/img/redflowersS.jpg")" class="img-responsive" alt="Red Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("purple flowers")"><img src="@Url.VersionedContent("~/img/purpleflowersS.jpg")" class="img-responsive" alt="Purple Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("yellow flowers")"><img src="@Url.VersionedContent("~/img/yellowflowersS.jpg")" class="img-responsive" alt="Yellow Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("orange flower")"><img src="@Url.VersionedContent("~/img/orangeflowersS.jpg")" class="img-responsive" alt="Orange Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("white flowers")"><img src="@Url.VersionedContent("~/img/whiteflowersS.jpg")" class="img-responsive" alt="White Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("pink flowers")"><img src="@Url.VersionedContent("~/img/pinkflowersS.jpg")" class="img-responsive" alt="Pink Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("bouquet")"><img src="@Url.VersionedContent("~/img/bouquetsS.jpg")" class="img-responsive" alt="Bouquets"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("flower")"><img src="@Url.VersionedContent("~/img/allflowersS.jpg")" class="img-responsive" alt="All Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <img src="@Url.VersionedContent("~/img/morecomingsoonS.jpg")" class="img-responsive" alt="More coming soon...">
        </div>
    </div>
</div>
