@{
    ViewBag.Title = "Garden - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/GardenS.jpg")" class="img-responsive center-block" alt="Garden">
            <h3>Grow garden! Grow!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("garden vegetable")"><img src="@Url.VersionedContent("~/img/gardenvegetablesS.jpg")" class="img-responsive" alt="Garden Vegetables"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("flowers")"><img src="@Url.VersionedContent("~/img/FlowersS.jpg")" class="img-responsive" alt="Flowers"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("garden fruit")"><img src="@Url.VersionedContent("~/img/gardenfruitS.jpg")" class="img-responsive" alt="Garden Fruit"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("plant")"><img src="@Url.VersionedContent("~/img/plantsS.jpg")" class="img-responsive" alt="Plants"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("apple orchard")"><img src="@Url.VersionedContent("~/img/appleorchardS.jpg")" class="img-responsive" alt="Apple Orchard"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("tree")"><img src="@Url.VersionedContent("~/img/treesS.jpg")" class="img-responsive" alt="Trees"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a href="@Url.Search("garden")"><img src="@Url.VersionedContent("~/img/allgardenS.jpg")" class="img-responsive" alt="All Things Garden"></a>
        </div>
    </div>
</div>
