@{
    ViewBag.Title = "Prepositions - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/PrepositionsS.jpg")" class="img-responsive center-block" alt="Prepositions">
            <h3>We were on, in, and all around!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.TagDetails("in")"><img src="@Url.VersionedContent("~/img/InS.jpg")" class="img-responsive" alt="In"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("above")"><img src="@Url.VersionedContent("~/img/aboveontopofS.jpg")" class="img-responsive" alt="Above / On top of"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("through")"><img src="@Url.VersionedContent("~/img/ThroughS.jpg")" class="img-responsive" alt="Through"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.TagDetails("on")"><img src="@Url.VersionedContent("~/img/onS.jpg")" class="img-responsive" alt="On"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("below under")"><img src="@Url.VersionedContent("~/img/belowunderS.jpg")" class="img-responsive" alt="Below / Under"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("next to")"><img src="@Url.VersionedContent("~/img/nexttoS.jpg")" class="img-responsive" alt="Next to"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a href="@Url.Search("where")"><img src="@Url.VersionedContent("~/img/whereS.jpg")" class="img-responsive" alt="Where?"></a>
        </div>
    </div>
</div>
