@{
    ViewBag.Title = "School - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/SchoolS.jpg")" class="img-responsive center-block" alt="School">
            <h3>Away we go!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("school supplies")"><img src="@Url.VersionedContent("~/img/schoolsuppliesS.jpg")" class="img-responsive" alt="School Supplies"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("art")"><img src="@Url.VersionedContent("~/img/artS.jpg")" class="img-responsive" alt="Art"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("math")"><img src="@Url.VersionedContent("~/img/mathS.jpg")" class="img-responsive" alt="Math"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("read")"><img src="@Url.VersionedContent("~/img/readingS.jpg")" class="img-responsive" alt="Reading"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("colors")"><img src="@Url.VersionedContent("~/img/colorsS.jpg")" class="img-responsive" alt="Colors"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("playground")"><img src="@Url.VersionedContent("~/img/playgroundS.jpg")" class="img-responsive" alt="Playground"></a>
        </div>
    </div>
</div>
