@{
    ViewBag.Title = "Sizes - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/SizesS.jpg")" class="img-responsive center-block" alt="Sizes">
            <h3>What size is it?</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("tiny")"><img src="@Url.VersionedContent("~/img/tinyS.jpg")" class="img-responsive" alt="Tiny"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("small little")"><img src="@Url.VersionedContent("~/img/smallorlittleS.jpg")" class="img-responsive" alt="Small / Little"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("medium")"><img src="@Url.VersionedContent("~/img/mediumS.jpg")" class="img-responsive" alt="Medium"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("big large")"><img src="@Url.VersionedContent("~/img/bigS.jpg")" class="img-responsive" alt="Large / Big"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("huge gigantic")"><img src="@Url.VersionedContent("~/img/hugeS.jpg")" class="img-responsive" alt="Huge"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("tall")"><img src="@Url.VersionedContent("~/img/tallS.jpg")" class="img-responsive" alt="Tall"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("sizes")"><img src="@Url.VersionedContent("~/img/sizesS.jpg")" class="img-responsive" alt="Sizes"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("how big")"><img src="@Url.VersionedContent("~/img/howbigS.jpg")" class="img-responsive" alt="How big?"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <img src="@Url.VersionedContent("~/img/morecomingsoonS.jpg")" class="img-responsive" alt="More coming soon...">
        </div>
    </div>
</div>
