@{
    ViewBag.Title = "Summer - Category";
}

<div id="category">
    <div class="hero-unit">
        <header>
            <img src="@Url.VersionedContent("~/img/SummerS.jpg")">
        </header>
        <header>
            <h3>We just can't wait!</h3>
        </header>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Search("grill")"><img src="@Url.VersionedContent("~/img/GrillingS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("pool")"><img src="@Url.VersionedContent("~/img/PoolS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("park")"><img src="@Url.VersionedContent("~/img/playgroundS.jpg")"></a>
        </div>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Category("garden")"><img src="@Url.VersionedContent("~/img/gardenS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("flower")"><img src="@Url.VersionedContent("~/img/flowersS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("fishing")"><img src="@Url.VersionedContent("~/img/fishingS.jpg")"></a>
        </div>
    </div>
        <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Search("campfire")"><img src="@Url.VersionedContent("~/img/campfiresS.jpg")"></a>
        </div>

        <div class="span4">
        <a href="@Url.Search("yard work")"><img src="@Url.VersionedContent("~/img/yardworkS.jpg")"></a>
            
        </div>
        <div class="span4">
        <a href="@Url.Search("summer")"><img src="@Url.VersionedContent("~/img/allsummerS.jpg")"></a>
        </div>
    </div>
</div>
