@{
    ViewBag.Title = "Summer - Category";
}

<div id="category">
    <div class="hero-unit">
        <header>
            <img src="@Url.VersionedContent("~/img/Header/SummerHeaderS.jpg")">
        </header>
        <header>
            <h3>We just can't wait!</h3>
        </header>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Search("grill")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/GrillingS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("pool")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/PoolS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("park")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/playgroundS.jpg")"></a>
        </div>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Search("garden")"><img src="@Url.VersionedContent("~/img/Header/gardenS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("flower")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/flowersS.jpg")"></a>
        </div>

        <div class="span4">
            <a href="@Url.Search("fishing")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/fishingS.jpg")"></a>
        </div>
    </div>
        <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Search("camp fire")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/campfiresS.jpg")"></a>
        </div>

        <div class="span4">
        <a href="@Url.Search("yard work")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/yardworkS.jpg")"></a>
            
        </div>
        <div class="span4">
        <a href="@Url.Search("summer")"><img src="@Url.VersionedContent("~/img/OtherPageHeaders/allsummerS.jpg")"></a>
        </div>
    </div>
</div>
