@{
    ViewBag.Title = "Vacation - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/VacationS.jpg")" class="img-responsive center-block" alt="Vacation">
            <h3>Time to relax!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Glacier")"><img src="@Url.VersionedContent("~/img/GlacierS.jpg")" class="img-responsive" alt="Glacier National Park"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Ireland")"><img src="@Url.VersionedContent("~/img/IrelandS.jpg")" class="img-responsive" alt="Ireland"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Scotland")"><img src="@Url.VersionedContent("~/img/ScotlandS.jpg")" class="img-responsive" alt="Scotland"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Beach")"><img src="@Url.VersionedContent("~/img/BeachS.jpg")" class="img-responsive" alt="The Beach"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Camping")"><img src="@Url.VersionedContent("~/img/CampingS.jpg")" class="img-responsive" alt="Camping"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Ocean")"><img src="@Url.VersionedContent("~/img/OceanS.jpg")" class="img-responsive" alt="Ocean"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("France")"><img src="@Url.VersionedContent("~/img/FranceS.jpg")" class="img-responsive" alt="France"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Italy")"><img src="@Url.VersionedContent("~/img/ItalyS.jpg")" class="img-responsive" alt="Italy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Spain")"><img src="@Url.VersionedContent("~/img/SpainS.jpg")" class="img-responsive" alt="Spain"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Washington DC")"><img src="@Url.VersionedContent("~/img/WashingtonDCS.jpg")" class="img-responsive" alt="Washington D.C."></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Chichen Itza")"><img src="@Url.VersionedContent("~/img/ChichenItzaS.jpg")" class="img-responsive" alt="Chichen Itza, Mexico"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <img src="@Url.VersionedContent("~/img/morecomingsoonS.jpg")" class="img-responsive" alt="More coming soon...">
        </div>
    </div>
</div>
