@{
    ViewBag.Title = "Weather - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/weatherS.jpg")" class="img-responsive center-block" alt="Weather">
            <h3>What's the weather like today?</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("sunny")"><img src="@Url.VersionedContent("~/img/sunnyS.jpg")" class="img-responsive" alt="Sunny"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("cloudy")"><img src="@Url.VersionedContent("~/img/cloudyS.jpg")" class="img-responsive" alt="Cloudy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("rainy")"><img src="@Url.VersionedContent("~/img/rainyS.jpg")" class="img-responsive" alt="Rainy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("windy")"><img src="@Url.VersionedContent("~/img/windyS.jpg")" class="img-responsive" alt="Windy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("foggy")"><img src="@Url.VersionedContent("~/img/foggyS.jpg")" class="img-responsive" alt="Foggy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("snowy")"><img src="@Url.VersionedContent("~/img/snowyS.jpg")" class="img-responsive" alt="Snowy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("sunset")"><img src="@Url.VersionedContent("~/img/sunsetS.jpg")" class="img-responsive" alt="Sunset"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("sunshine")"><img src="@Url.VersionedContent("~/img/sunshineS.jpg")" class="img-responsive" alt="Sunshine"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("weather")"><img src="@Url.VersionedContent("~/img/alltypesofweatherS.jpg")" class="img-responsive" alt="All Types of Weather"></a>
        </div>
    </div>
</div>
