@{
    ViewBag.Title = "Zoo - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/ZooS.jpg")" class="img-responsive center-block" alt="Zoo">
            <h3>Let's go to the zoo!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("zoo animal")"><img src="@Url.VersionedContent("~/img/zooanimalsS.jpg")" class="img-responsive" alt="Zoo Animals"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("zoo ride")"><img src="@Url.VersionedContent("~/img/zooridesS.jpg")" class="img-responsive" alt="Rides"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("zoo")"><img src="@Url.VersionedContent("~/img/allzooS.jpg")" class="img-responsive" alt="All Things Zoo"></a>
        </div>
    </div>
</div>
