@{
    ViewBag.Title = "Clothing - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/ClothingS.jpg")" class="img-responsive center-block" alt="Clothing">
            <h3>What are you going to put on today?</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("pants")"><img src="@Url.VersionedContent("~/img/pantsS.jpg")" class="img-responsive" alt="Pants"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("shirts")"><img src="@Url.VersionedContent("~/img/shirtsS.jpg")" class="img-responsive" alt="Shirts"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("shoes")"><img src="@Url.VersionedContent("~/img/shoesS.jpg")" class="img-responsive" alt="Shoes"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("shorts")"><img src="@Url.VersionedContent("~/img/shortsS.jpg")" class="img-responsive" alt="Shorts"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("accessories")"><img src="@Url.VersionedContent("~/img/accessoriesS.jpg")" class="img-responsive" alt="Accessories"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("winter clothing")"><img src="@Url.VersionedContent("~/img/winterclothingS.jpg")" class="img-responsive" alt="Winter Clothing"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a href="@Url.Search("clothing")"><img src="@Url.VersionedContent("~/img/allclothingS.jpg")" class="img-responsive" alt="All Clothing"></a>
        </div>
    </div>
</div>
