@{
    ViewBag.Title = "Colors - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/colorsS.jpg")" class="img-responsive center-block" alt="Colors">
            <h3>Teach me the colors!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("red")"><img src="@Url.VersionedContent("~/img/redS.jpg")" class="img-responsive" alt="Red"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("yellow")"><img src="@Url.VersionedContent("~/img/yellowS.jpg")" class="img-responsive" alt="Yellow"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("orange")"><img src="@Url.VersionedContent("~/img/orangeS.jpg")" class="img-responsive" alt="Orange"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("blue")"><img src="@Url.VersionedContent("~/img/blueS.jpg")" class="img-responsive" alt="Blue"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("green")"><img src="@Url.VersionedContent("~/img/greenS.jpg")" class="img-responsive" alt="Green"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("purple")"><img src="@Url.VersionedContent("~/img/purpleS.jpg")" class="img-responsive" alt="Purple"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("black")"><img src="@Url.VersionedContent("~/img/blackS.jpg")" class="img-responsive" alt="Black"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("pink")"><img src="@Url.VersionedContent("~/img/pinkS.jpg")" class="img-responsive" alt="Pink"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.TagDetails("white")"><img src="@Url.VersionedContent("~/img/whiteS.jpg")" class="img-responsive" alt="White"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("gray")"><img src="@Url.VersionedContent("~/img/grayS.jpg")" class="img-responsive" alt="Gray"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("brown")"><img src="@Url.VersionedContent("~/img/brownS.jpg")" class="img-responsive" alt="Brown"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("colorful")"><img src="@Url.VersionedContent("~/img/colorfulS.jpg")" class="img-responsive" alt="Colorful"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <a href="@Url.Search("what color")"><img src="@Url.VersionedContent("~/img/whatcolorS.jpg")" class="img-responsive" alt="What Color?"></a>
        </div>
    </div>
</div>
