@{
    ViewBag.Title = "Farm - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/FarmS.jpg")" class="img-responsive center-block" alt="Farm">
            <h3>We're going to the farm!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.CombinedSearch("farm animals")"><img src="@Url.VersionedContent("~/img/farmanimalsS.jpg")" class="img-responsive" alt="Farm Animals"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("farmers market")"><img src="@Url.VersionedContent("~/img/farmersmarketS.jpg")" class="img-responsive" alt="Farmer's Market'"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("farm")"><img src="@Url.VersionedContent("~/img/allthingsfarmS.jpg")" class="img-responsive" alt="All Things Farm"></a>
        </div>
    </div>
</div>
