@{
    ViewBag.Title = "Food - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/FoodS.jpg")" class="img-responsive center-block" alt="Food">
            <h3>I just can't get enough!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Meat")"><img src="@Url.VersionedContent("~/img/MeatS.jpg")" class="img-responsive" alt="Meat"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Vegetables")"><img src="@Url.VersionedContent("~/img/VegetablesS.jpg")" class="img-responsive" alt="Vegetables"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Fruit")"><img src="@Url.VersionedContent("~/img/FruitS.jpg")" class="img-responsive" alt="Fruit"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Beverage")"><img src="@Url.VersionedContent("~/img/BeveragesS.jpg")" class="img-responsive" alt="Beverages"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Dessert")"><img src="@Url.VersionedContent("~/img/DessertsS.jpg")" class="img-responsive" alt="Desserts"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Seafood")"><img src="@Url.VersionedContent("~/img/SeafoodS.jpg")" class="img-responsive" alt="Seafood"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Canning")"><img src="@Url.VersionedContent("~/img/CanningS.jpg")" class="img-responsive" alt="Canning"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Candy")"><img src="@Url.VersionedContent("~/img/CandyS.jpg")" class="img-responsive" alt="Candy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.TagDetails("Food")"><img src="@Url.VersionedContent("~/img/AllFoodS.jpg")" class="img-responsive" alt="All Food"></a>
        </div>
    </div>
</div>
