@{
    ViewBag.Title = "Transportation - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/transportationS.jpg")" class="img-responsive center-block" alt="Transportation">
            <h3>Zoom.... Zoom...</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("planes")"><img src="@Url.VersionedContent("~/img/planesS.jpg")" class="img-responsive" alt="Planes"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("train")"><img src="@Url.VersionedContent("~/img/trainsS.jpg")" class="img-responsive" alt="Trains"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("car")"><img src="@Url.VersionedContent("~/img/automobilesS.jpg")" class="img-responsive" alt="Automobiles"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("boat")"><img src="@Url.VersionedContent("~/img/boatsS.jpg")" class="img-responsive" alt="Boats"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("walk")"><img src="@Url.VersionedContent("~/img/walkS.jpg")" class="img-responsive" alt="Walk"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <img src="@Url.VersionedContent("~/img/morecomingsoonS.jpg")" class="img-responsive" alt="More coming soon...">
        </div>
    </div>
</div>
