@{
    ViewBag.Title = "Winter - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/WinterS.jpg")" class="img-responsive center-block" alt="Winter">
            <h3>It's getting cold outside...</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("snow")"><img src="@Url.VersionedContent("~/img/snowS.jpg")" class="img-responsive" alt="Snow"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("winter clothing")"><img src="@Url.VersionedContent("~/img/winterclothingS.jpg")" class="img-responsive" alt="Winter Clothing"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("winter activities")"><img src="@Url.VersionedContent("~/img/winteractivitiesS.jpg")" class="img-responsive" alt="Winter Activities"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Christmas")"><img src="@Url.VersionedContent("~/img/ChristmasS.jpg")" class="img-responsive" alt="Christmas"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("winter")"><img src="@Url.VersionedContent("~/img/WinterS.jpg")" class="img-responsive" alt="Winter"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Vacation")"><img src="@Url.VersionedContent("~/img/VacationS.jpg")" class="img-responsive" alt="Vacation"></a>
        </div>
    </div>
</div>
