@model PhotoDeleteViewModel

@{
    ViewBag.Title = @Model.Name + " - Delete";
}

<div>
    <header>
        <h1>@Model.Name</h1>
        <h2>Delete</h2>
    </header>

    <form asp-action="Delete">
        <div class="form-group">
            <img src="@Model.PhotoUrl">

            <div>
                @Html.Partial("_TagButtons", Model.Tags)
            </div>
        </div>

        <div class="form-group">
            <p class="form-control-static">Are you sure you want to delete this photo?</p>
        </div?

        <div class="form-group">
            <button class="btn btn-danger" type="submit">Delete</button> |
            <a asp-route="photo-details" asp-route-id="@Model.Id" asp-route-name="@Model.Name">Cancel</a>
        </div>
    </form>
</div>