@model PhotoDetailsViewModel

@{
    ViewBag.Title = Model.Photo.Name;
}

<div id="photoDetails">
    <header>
        <h1>@Model.Photo.Name</h1>
    </header>

    @if (Model.PreviousPhoto != null || Model.NextPhoto != null)
    {
        <ul class="pager">
            @if (Model.PreviousPhoto != null)
            {
                <li class="previous">
                    <a asp-route="photo-details"
                       asp-route-id="@Model.PreviousPhoto.Id"
                       asp-route-name="@Model.PreviousPhoto.Name"
                       asp-route-tag="@Model.SearchResultTag?.Name"
                       asp-route-tag2="@Model.SearchResultTag2?.Name">
                        <span aria-hidden="true">&larr;</span> Previous
                    </a>
                </li>
            }

            @if (Model.NextPhoto != null)
            {
                <li class="next">
                    <a asp-route="photo-details"
                       asp-route-id="@Model.NextPhoto.Id"
                       asp-route-name="@Model.NextPhoto.Name"
                       asp-route-tag="@Model.SearchResultTag?.Name"
                       asp-route-tag2="@Model.SearchResultTag2?.Name">
                            Next <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            }
        </ul>
    }

    <div class="photo">
        <div class="photo-thumb">
            <img src="@Model.PhotoUrl" class="img-responsive center-block">
        </div>
    </div>

    <div>
        @Html.Partial("_TagButtons", Model.Tags)
    </div>

    @if (Model.Questions.Any())
    {
        <section>
            <header>
                <h1>Questions</h1>
            </header>

            <ul>
                @foreach (var question in Model.Questions)
                {
                    <li class="question">
                        @if (Model.ShowAdminLinks)
                        {
                            <a asp-controller="Question"
                                asp-action="Details"
                                asp-route-id="@question.Id">@question.Text</a>
                        }
                        else
                        {
                            @question.Text
                        }
                        <div class="question-starter">@question.SentenceStarters</div>
                    </li>
                }
            </ul>
        </section>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @if (Model.Photo.IsPrivate)
            {
                <span>Is Private: <strong>Yes</strong></span>
            }
            else
            {
                <span>Is Private: No</span>
            }
        </div>
    }

    <div id="download">
        Download this photo:
        <span class="download-link">
            <a href="@Model.SmallDownloadUrl" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span>Small
                <span class="file-size">(@Model.SmallFileSize)</span>
            </a>
        </span>
        <span class="download-link">
            <a href="@Model.LargeDownloadUrl" class="btn btn-default">
                <span class="glyphicon glyphicon-save"></span>Large
                <span class="file-size">(@Model.LargeFileSize)</span>
            </a>
        </span>
    </div>

    @if (Model.ShowAdminLinks)
    {
        <div>
            <a asp-controller="Question" asp-action="Create" asp-route-photoid="@Model.Photo.Id">Create Question</a>
        </div>

        <div>
            <a asp-action="Edit">Edit</a> |
            <a asp-action="Delete">Delete</a> |
            <a asp-action="Index">Photo Index</a>
        </div>
    }
</div>
