@model PhotoEditViewModel

@{
    ViewBag.Title = @Model.Name + " - Edit";
}

<div id="editPhoto">
    <header>
        <h1>@Model.Name</h1>
        <h2>Edit</h2>
    </header>

    <form asp-action="Edit">
        <div>
            <img src="@Model.PhotoUrl">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Private"></label>
            <input asp-for="@Model.Private">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Tags"></label>
            <textarea asp-for="@Model.Tags" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button> |
            <a asp-route="photo-details" asp-route-id="@Model.Id" asp-route-name="@Model.Name">Cancel</a>
        </div>

        <div asp-validation-summary="All"></div>
    </form>
</div>
