@model PaginatedList<Photo>

@{
    ViewBag.Title = "Photo Index";

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="page-photo-index">
    <header class="page-header" style="margin-top: 0;">
        <h1>Photo Index</h1>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <a asp-action="Create" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Add New Photo
            </a>
            <a asp-controller="Admin" asp-action="Index" class="btn btn-default">
                <span class="glyphicon glyphicon-home"></span> Admin Home
            </a>
        </div>
    }

    <div class="form-group">
        <label class="control-label">Total Photo Count</label>
        <p class="form-control-static">@Model.TotalItems</p>
    </div>

    <nav aria-label="pager">
        <ul class="pager" style="margin-top: 0;">
            <li>
                <a asp-action="Index"
                    asp-route-page="@(Model.PageIndex - 1)"
                    class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
            <li>
                <a asp-action="Index"
                    asp-route-page="@(Model.PageIndex + 1)"
                    class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>

    <table class="table table-striped photo-index">
        <thead>
            <tr>
                <th>ID</th>
                <th>Thumbnail</th>
                <th>Name</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th>Private</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var photo in Model)
        {
            <tr>
                <td>
                    @photo.Id
                </td>
                <td class="photo-cell">
                    @Html.Partial("_PhotoThumbSmall", photo)
                </td>
                <td>
                    <a asp-action="Details">@photo.Name</a>
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @if (photo.IsPrivate)
                        {
                            <strong>Yes</strong>
                        }
                        else
                        {
                            @:No
                        }
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@photo.Id" class="btn btn-default">Details</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@photo.Id" class="btn btn-default">Edit</a>
                        <a asp-action="Delete" asp-route-id="@photo.Id" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <nav aria-label="pager">
        <ul class="pager">
            <li>
                <a asp-action="Index"
                    asp-route-page="@(Model.PageIndex - 1)"
                    class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
            <li>
                <a asp-action="Index"
                    asp-route-page="@(Model.PageIndex + 1)"
                    class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>