<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - TeacherPouch</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="@Url.VersionedContent("~/css/bootstrap.css")" rel="stylesheet" media="screen">
    <link href="@Url.VersionedContent("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet">
    <link href="@Url.VersionedContent("~/css/styles.css")" rel="stylesheet">

    @{ RenderSection(name: "Head", required: false); }
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">TeacherPouch</a>
            </div>

            <div class="collapse navbar-collapse navbar-left">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.LicenseActiveClass"><a href="@Url.License()" rel="license">License</a></li>
                    <li class="@ViewBag.StandardsActiveClass"><a href="@Url.Standards()">Standards</a></li>
                    <li class="@ViewBag.AboutActiveClass"><a href="@Url.About()">About</a></li>
                    <li class="@ViewBag.ContactActiveClass"><a href="@Url.Contact()">Contact</a></li>
                </ul>
            </div>

            <form id="search-form" action="/Search" method="get" class="navbar-search navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input id="q" name="q" type="text" class="search-query form-control" placeholder="Search" autocomplete="off" value="@ViewBag.SearchTerm">

                    <span class="input-group-addon">
                        @if ((ViewBag.AndChecked as bool?).GetValueOrDefault())
                        {
                            <input id="or" type="radio" name="op" value="Or"><label for="or">Or</label>
                            <input id="and" type="radio" name="op" value="And" checked><label for="and">And</label>
                        }
                        else
                        {
                            <input id="or" type="radio" name="op" value="Or" checked><label for="or">Or</label>
                            <input id="and" type="radio" name="op" value="And"><label for="and">And</label>
                        }
                    </span>

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>

            <div id="suggest"></div>

            @if (base.User.Identity.IsAuthenticated)
            {
                <ul class="nav" style="float:right;">
                    <li style="padding-top:10px;">
                        <span style="color:white;">Hello, @base.User.Identity.Name.ToTitleCase()!</span>
                        <a href="@Url.AdminLogout(Request.RawUrl)" style="display:inline;">Log out</a>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-10 col-sm-push-3 col-md-push-2 main">
                @RenderBody()
            </div>

            <div class="col-xs-12 col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10">
                <nav id="side-nav" class="well">
                    @{ Html.RenderPartial(MVC.Tags.Views._FeaturedCategoriesMenu); }
                </nav>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; @DateTime.Now.Year TeacherPouch LLC - <a href="@Url.PrivacyPolicy()">Privacy Policy</a></p>

            <p>
                <figure>
                    <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="Creative Commons License" style="border-width: 0;">
                    <figcaption>
                        Photography by TeacherPouch is licensed under a <em>Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported</em> License. <br>
                        <a href="@Url.License()" rel="license">Read more about our license</a>
                    </figcaption>
                </figure>
            </p>

            <p>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Site Administration", MVC.Admin.Index())
                }
                else
                {
                    @Html.ActionLink("Log In", MVC.Admin.Login().AddRouteValue("ReturnUrl", Request.RawUrl))
                }
            </p>
        </footer>
    </div>

    <script src="@Url.VersionedContent("~/Scripts/jquery-2.1.0.min.js")"></script>
    <script src="@Url.VersionedContent("~/Scripts/jquery-ui-1.10.4.min.js")"></script>
    <script src="@Url.VersionedContent("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.VersionedContent("~/Scripts/TeacherPouch.js")"></script>
    @RenderSection("Script", required: false)
    @Html.ConditionalAnalyticsScript()
</body>
</html>
