@{
    ViewBag.Title = "Home";
    ViewBag.HomeActiveClass = "active";
}

<div id="home">
    <div class="hero-unit">
        <header>
            <h1>TeacherPouch</h1>
            <h4>Free photos for teachers and non-teachers alike</h4>
            <h5>Come back periodically to see new photos that have been added!</h5>
        </header>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Category("Weather")"><img src="@Url.VersionedContent("~/img/WeatherS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Winter")"><img src="@Url.VersionedContent("~/img/WinterS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Search("Winter Clothing")"><img src="@Url.VersionedContent("~/img/winterclothingS.jpg")"></a>
        </div>
    </div>
    
    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Category("School")"><img src="@Url.VersionedContent("~/img/SchoolS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Math")"><img src="@Url.VersionedContent("~/img/MathS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Prepositions")"><img src="@Url.VersionedContent("~/img/PrepositionsS.jpg")"></a>
        </div>
    </div>

    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Category("Transportation")"><img src="@Url.VersionedContent("~/img/TransportationS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Vacation")"><img src="@Url.VersionedContent("~/img/VacationS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Sizes")"><img src="@Url.VersionedContent("~/img/SizesS.jpg")"></a>
        </div>  
    </div>
    
    <div class="row-fluid featured-tags-preview">
        <div class="span4">
            <a href="@Url.Category("Food")"><img src="@Url.VersionedContent("~/img/FoodS.jpg")"></a>
        </div> 
        <div class="span4">
            <a href="@Url.Search("Animals")"><img src="@Url.VersionedContent("~/img/AnimalsS.jpg")"></a>
        </div>
        <div class="span4">
            <a href="@Url.Category("Numbers")"><img src="@Url.VersionedContent("~/img/NumbersS.jpg")"></a>
        </div>
    </div>

    <div class="row-fluid featured-tags-preview">



    </div>

</div>
