@{
    ViewBag.Title = "Home";
    ViewBag.HomeActiveClass = "active";
}

<div id="home">
    <div class="jumbotron">
        <header>
            <div id="intro-video-placeholder">
                <a href="javascript:;" onclick="PlayIntroVideo(this);" data-video="//www.youtube.com/embed/0bwl3JaPM8Q?autoplay=1&rel=0" title="Watch a quick intro video about TeacherPouch">
                    <img src="@Url.VersionedContent("~/img/TeacherPouch-Video-Placeholder.png")" class="img-responsive">
                </a>
            </div>

            <div id="intro-video"></div>

            <div>
                <h5>
                    Free stock photos for teachers and non-teachers alike. <br>
                    Come back periodically to see new photos that have been added!
                </h5>
            </div>
        </header>
    </div>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Weather")"><img src="@Url.VersionedContent("~/img/WeatherS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Winter")"><img src="@Url.VersionedContent("~/img/WinterS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Winter Clothing")"><img src="@Url.VersionedContent("~/img/winterclothingS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("School")"><img src="@Url.VersionedContent("~/img/SchoolS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Math")"><img src="@Url.VersionedContent("~/img/MathS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Prepositions")"><img src="@Url.VersionedContent("~/img/PrepositionsS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Transportation")"><img src="@Url.VersionedContent("~/img/TransportationS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Vacation")"><img src="@Url.VersionedContent("~/img/VacationS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Sizes")"><img src="@Url.VersionedContent("~/img/SizesS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Food")"><img src="@Url.VersionedContent("~/img/FoodS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Animals")"><img src="@Url.VersionedContent("~/img/AnimalsS.jpg")" class="img-responsive"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Numbers")"><img src="@Url.VersionedContent("~/img/NumbersS.jpg")" class="img-responsive"></a>
        </div>
    </div>
</div>
