@{
    ViewBag.Title = "Standards";
    ViewBag.StandardsActiveClass = "active";
}

<div id="Standards">
        <header>
            <h5 style="color:red;">**This standards page is NEW!  Our plan is to link our photos to the Kindergarten standards first, and then we'll work on grades 1-5.</h5>
            <br><h1>Kindergarten Standards</h1>
    </header>
    
    <section class="big">
        <header>
            <h4><a href="http://www.education.state.mn.us/MDE/EdExc/StanCurri/K-12AcademicStandards/SocialStudies/index.html" target="_blank"> Social Studies Standards (2011)</a></h4>
        </header>
    </section>

    <section>
    <br>
    <b> 1. Citizen and Government </b>
        <br> 0.1.1.1.1	 Demonstrate civic skills in a classroom that reflect an understanding of civic values.

        <br> <a href="@Url.Search("STD-Social Studies 0.1.2.2.1")"> 0.1.2.2.1</a> Describe symbols, songs and traditions that identify our nation and state.

        <br> 0.1.4.8.1  Identify examples of rules in the school community and explain why they exist; describe incentives for following rules and consequences for breaking rules.

    </p>

    <br><p><b> 2. Economics </b>
        <br> 0.2.1.1.1  Distinguish between individual needs (conditions necessary to survive) and individual wants (conditions desired to be happy).
        
        <br> <a href="@Url.Search("STD-Social Studies 0.2.1.1.2")">0.2.1.1.2</a> Identify goods and services that could satisfy a specific need or want.

        <br> <a href="@Url.Search("STD-Social Studies 0.2.3.5.1")">0.2.3.5.1</a> Distinguish between goods (objects that can be seen or touched) and services (actions or activities). 
    </p>

    <br><p><b> 3. Geography  </b>
        <br> <a href="@Url.Search("STD-Social Studies 0.3.1.1.1")">0.3.1.1.1</a> Describe special information depicted in simple drawings and pictures. < prepositions> 
        
        <br> <a href="@Url.Search("STD-Social Studies 0.3.1.1.2")">0.3.1.1.2</a> Describe a map and a globe as a representation of space. 

        <br> <a href="@Url.Search("STD-Social Studies 0.3.2.3.1")">0.3.2.3.1</a> Identify the physical and human characteristics of places, including real and imagined places.  (Physical: landforms, bodies of water, soil, vegetation, weather, climate; Human: structures, bridges, cities, political boundaries, language, ethnicity, nationality, religion)
    </p>
        
    <br>
    <p>
        <b> 4. History  </b>

        <br> <a href="@Url.Search("STD-Social Studies 0.4.1.1.1")">0.4.1.1.1</a> Use a variety of words to reference time in the past, present and future; identify the beginning, middle, and end of historical stories. (Language: yesterday, today, tomorrow, morning, afternoon, days, weeks, months, years) 

        <br> 0.4.1.2.1	 Describe ways people learn about the past.

        <br> 0.4.2.4.1	 Compare and contrast traditions in a family with those of other families, including those from diverse backgrounds.
    </p>
    </section>
</div>
