@{
    ViewBag.Title = "Italy - Category";
}

<div class="category">
    <header>
        <div class="jumbotron">
            <img src="@Url.VersionedContent("~/img/ItalyS.jpg")" class="img-responsive center-block" alt="Italy">
            <h3>Rome, here we come!</h3>
        </div>
    </header>

    <div class="row featured-tags-preview">
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Florence")"><img src="@Url.VersionedContent("~/img/FlorenceS.jpg")" class="img-responsive" alt="Florence, Italy"></a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Rome")"><img src="@Url.VersionedContent("~/img/RomeS.jpg")" class="img-responsive" alt="Rome, Italy"></a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Venice")"><img src="@Url.VersionedContent("~/img/VeniceS.jpg")" class="img-responsive" alt="Venice, Italy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Pompeii")"><img src="@Url.VersionedContent("~/img/PompeiiS.jpg")" class="img-responsive" alt="Pompeii, Italy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Search("Italy")"><img src="@Url.VersionedContent("~/img/ItalyS.jpg")" class="img-responsive" alt="Italy"></a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="@Url.Category("Vacation")"><img src="@Url.VersionedContent("~/img/flysomewhereelseS.jpg")" class="img-responsive" alt="Fly Somewhere Else"></a>
        </div>
    </div>
</div>
