@model SearchResultsOr

@{
    ViewBag.Title = "Search Results - " + Model.SearchTerm;
}

<div id="searchResults">
    <header>
        <h1>Search Results - @Model.SearchTerm</h1>
        <span class="duration">Searched in @Model.SearchDuration.TotalSeconds.ToString() seconds</span>
    </header>

    @if (Model.TagResults.Any())
    {
        foreach (var tagResult in Model.TagResults)
        {
            <div class="search-result">
                <h2>
                    <partial name="_TagButton" model="tagResult.Tag" />
                </h2>
                @if (tagResult.Photos is not null && tagResult.Photos.Any())
                {
                    <ul class="photo-thumbs">
                        @foreach (var photo in tagResult.Photos)
                        {
                            <li>
                                <a asp-route="photo-details"
                                   asp-route-id="@photo.Id"
                                   asp-route-name="@photo.Name"
                                   asp-route-tag="@tagResult.Tag.Name"
                                   class="photo-thumb">
                                    <img src="@Url.Action("Image", "Photo", new { id = @photo.Id, size = PhotoSizes.Small, fileName = @photo.Name + "_Small.jpg" })">
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    }
</div>
