@model SearchResultsAnd

@{
    ViewBag.Title = "Search Results - " + Model.SearchTerm;
}

<section id="searchResults">
    <header>
        <h1>Search Results - @Model.SearchTerm</h1>
        <span class="duration">Searched in @Model.SearchDuration.TotalSeconds.ToString() seconds</span>
    </header>

    @if (Model.Tags.Any())
    {
        <div class="search-result">
            <h2>
                @Html.Partial("_TagButtons", Model.Tags)
            </h2>
            @if (Model.Photos.Any())
            {
                <ul class="photo-thumbs">
                    @foreach (var photo in Model.Photos)
                    {
                        <li>
                            <a asp-route="photo-details"
                               asp-route-id="@photo.Id"
                               asp-route-name="@photo.Name"
                               class="photo-thumb">
                                <img src="@Url.Action("Image", "Photo", new { id = @photo.Id, size = PhotoSizes.Small, fileName = photo.Name + "_Small.jpg" })">
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    }
</section>
