@model TagCreateViewModel

@{
    ViewBag.Title = "Create Tag";
}

<div id="createTag">
    <h2>Create Tag</h2>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.TagName"></label>
            <input asp-for="@Model.TagName" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="@Model.Private"></label>
            <input asp-for="@Model.Private">
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button> |
            <a asp-action="Index">Cancel</a>
        </div>

        @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage)) {
            <div style="color: red;">@Model.ErrorMessage</div>
        }
    </form>
</div>
