@model TagCreateViewModel

@{
    ViewBag.Title = "Create Tag";
}

<div class="page-tag-create">
    <header class="page-header" style="margin-top: 0;">
        <h1>Create Tag</h1>
    </header>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.TagName" class="control-label"></label>
            <input asp-for="@Model.TagName" class="form-control">
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="@Model.Private">
                    <input asp-for="@Model.Private"> Private
                </label>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
            <a asp-action="Index" class="btn btn-link">Cancel</a>
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <div style="color: red;">@Model.ErrorMessage</div>
        }
    </form>
</div>
