@model IEnumerable<Photo>

@{
    ViewBag.Title = "Photo Index";
}

<h2>Photo Index</h2>

@if (SecurityHelper.UserIsAdmin(base.User))
{
    <p>
        <a href="@Url.PhotoCreate()">Add new photo</a>
    </p>
}

<h3>Total Photo Count: @Model.Count()</h3>

<table id="photoIndexTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Thumbnail</th>
            <th>Name</th>
            @if (SecurityHelper.UserCanSeePrivateRecords(base.User))
            {
                <th>Private</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var photo in Model)
    {
        <tr>
            <td>
                @photo.ID
            </td>
            <td>
                @Html.PhotoThumb(photo)
            </td>
            <td>
                <a href="@Url.PhotoDetails(photo)">@photo.Name</a>
            </td>
            @if (SecurityHelper.UserCanSeePrivateRecords(base.User))
            {
                <td>
                    @if (photo.IsPrivate)
                    {
                        <strong>Yes</strong>
                    }
                    else
                    {
                        @:No
                    }
                </td>
            }
            <td>
                <a href="@Url.PhotoDetails(photo)">Details</a>
                @if (SecurityHelper.UserIsAdmin(base.User))
                {
                    @: | <a href="@Url.PhotoEdit(photo)">Edit</a>
                    @: | <a href="@Url.PhotoDelete(photo)">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
