@model QuestionCreateViewModel

@{
    ViewBag.Title = "Create Question";
}

<section class="question-details">
    <header>
        <h1>Create Question</h1>
    </header>

    <div>
        <div>
            @Html.Partial("_PhotoThumbSmall", Model.Photo)
        </div>

        <div style="margin-top:10px;">
            @Html.Partial("_TagButtons", Model.Tags)
        </div>
    </div>

    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="@Model.QuestionText"></label>
            <textarea asp-for="@Model.QuestionText" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="@Model.QuestionSentenceStarters"></label>
            <div>
                <textarea asp-for="@Model.QuestionSentenceStarters" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.QuestionOrder"></label>
            <input asp-for="@Model.QuestionOrder" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-route="photo-details"
                asp-route-id="@Model.Photo.Id"
                asp-route-name="@Model.Photo.Name"
                class="btn btn-link">Cancel</a>
        </div>

        <div asp-asp-validation-summary="true"></div>
    </form>
</section>
