@model QuestionDetailsViewModel

@{
    ViewBag.Title = "Delete Question";
}

<style>
    .page-question-delete section:not(:last-child) {
        margin-bottom: 20px;
    }
</style>

<div class="page-question-delete">
    <header class="page-header" style="margin-top: 0;">
        <h1>Delete Question</h1>
    </header>

    <div class="alert alert-warning">Are you sure you want to delete this question?</div>

    <section>
        <div>
            @Html.Partial("_PhotoThumbSmall", Model.Photo)
        </div>

        <div style="margin-top: 10px;">
            @Html.Partial("_TagButtons", Model.Tags)
        </div>
    </section>

    <section>
        <label asp-for="@Model.QuestionText" class="control-label"></label>
        <p class="form-control-static preserve-newline">@Model.QuestionText</p>
    </section>

    <section>
        <label asp-for="@Model.QuestionSentenceStarters" class="control-label"></label>
        <p class="form-control-static preserve-newline">@Model.QuestionSentenceStarters</p>
    </section>

    <section>
        <label asp-for="@Model.QuestionOrder" class="control-label"></label>
        <p class="form-control-static">@Model.QuestionOrder</p>
    </section>

    <section>
        <form asp-action="Delete">
            <button class="btn btn-danger" type="submit">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </button>
            <a asp-action="Details" class="btn btn-link">Cancel</a>
        </form>
    </section>
</div>
