@model QuestionDetailsViewModel
@{
    ViewBag.Title = "Question Details";
}

<style>
    .page-question-details section:not(:last-child) {
        margin-bottom: 20px;
    }
</style>

<div class="page-question-details">
    <header class="page-header" style="margin-top: 0;">
        <h1>Question Details</h1>
    </header>

    <section>
        @if (Model.Photo is not null)
        {
            <div>
                <a asp-route="photo-details"
                   asp-route-id="@Model.Photo.Id"
                   asp-route-name="@Model.Photo.Name"
                   class="photo-thumb">
                    <img src="@Url.Action("Image", "Photo", new { id = Model.Photo.Id, size = PhotoSizes.Large, fileName = Model.Photo.Name + "_Small.jpg" })">
                </a>
            </div>
        }

        <div style="margin-top: 10px;">
            <partial name="_TagButtons" model="Model.Tags" />
        </div>
    </section>

    <section>
        <label asp-for="@Model.QuestionText"></label>
        <div class="preserve-newline">@Model.QuestionText</div>
    </section>

    <section>
        <label asp-for="@Model.QuestionSentenceStarters"></label>
        <div class="preserve-newline">@Model.QuestionSentenceStarters</div>
    </section>

    <section>
        <label asp-for="@Model.QuestionOrder"></label>
        <div>@Model.QuestionOrder</div>
    </section>

    @if (Model.DisplayAdminLinks)
    {
        <section>
            <a asp-action="Edit" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            <a asp-action="Delete" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </a>
        </section>
    }
</div>
