@model QuestionEditViewModel

@{
    ViewBag.Title = "Edit Question";
}

<section class="question-details">
    <header>
        <h2>Edit Question</h2>
    </header>

    <div>
        <div>
            @Html.PhotoThumb(Model.Photo)
        </div>

        <div style="margin-top:10px;">
            @foreach (var tag in Model.PhotoTags)
            {
                Html.Partial("_TagButton", tag)
            }
        </div>
    </div>

    <form asp-action="Edit" method="POST">
        <div class="form-group">
            <label asp-for="@Model.QuestionText"></label>
            <textarea asp-for="@Model.QuestionText" class="form-control"></textarea>
        </div>

        <div>
            <label asp-for="@Model.QuestionSentenceStarters"></label>
            <textarea asp-for="@Model.QuestionSentenceStarters" class="form-control"></textarea>
        </div>

        <div>
            <label asp-for="@Model.QuestionOrder"></label>
            <input asp-for="@Model.QuestionOrder" class="form-control"></textarea>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Save</button> |
            <a asp-action="Details" asp-route-id="@Model.QuestionId">Cancel</a>
        </div>

        <div asp-asp-validation-summary="true"></div>
    </form>
</section>
