@model QuestionDetailsViewModel

@{
    ViewBag.Title = "Question Details";
}

<section id="question-edit" class="question-details">
    <header><h2>Question Details</h2></header>

    <div>
        <div>@Html.PhotoThumb(Model.Photo)</div>

        <div style="margin-top:10px;">
            @{ Html.RenderPartial(MVC.Tags.Views._TagButtons, Model.PhotoTags); }
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.QuestionText)
        <span class="preserve-newline">@Model.QuestionText</span>
    </div>

    <div>
        @Html.LabelFor(model => model.QuestionSentenceStarters)
        <span class="preserve-newline">@Model.QuestionSentenceStarters</span>
    </div>

    <div>
        @Html.LabelFor(model => model.QuestionOrder)
        @Model.QuestionOrder
    </div>

    @if (Model.DisplayAdminLinks)
    {
        <div>
            @Html.ActionLink("Edit", MVC.Questions.QuestionEdit(Model.QuestionID)) |
            @Html.ActionLink("Delete", MVC.Questions.QuestionDelete(Model.QuestionID))
        </div>
    }
</section>
